.dashboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 300px);
}

.welcomeContainer {
  background: white;
  max-width: 450px;
  margin: 0 auto;
  padding: 30px 20px;
  margin-top: 40px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 2px 2px 20px -4px rgba(0, 0, 0, 0.2);
}

.welcomeTitle {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 2em;
}

.welcomeSubtitle {
  font-size: 1em;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.buttonSearchEngine {
  display: inline;
}

.buttonSearchEngine:first-of-type {
  margin-right: 10px;
}

.welcomeSmallText {
  margin-top: 20px;
  font-style: italic;
}

.searchBarSection {
  width: 100%;
}

.logo {
  text-align: center;
  margin: 0 2em;
}

.logoImgWrap {
  font-size: 36px;
}

.logoImg {
  height: auto;
  width: 100%;
  max-width: 10em;
}

.logoSubtitle {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  text-shadow: 0 2px 3px #c3c2c245;
  margin-bottom: 33px;
}

.searchWrap {
  max-width: 100%;
  margin: 33px auto;
  font-size: 1.2em;
}

.timeContainer {
  font-size: 6em;
  color: white;
  text-align: center;
}

.greetings {
  font-size: 0.3em;
  font-weight: normal;
  color: white;
  text-align: center;
  line-height: 1;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 450px) {
  .logoSubtitle {
    font-size: 14px;
  }

  .searchWrap {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .logoSubtitle {
    font-size: 17px;
  }

  .searchWrap {
    max-width: 52em;
  }
}
