.wrapper,
.form {
  position: relative;
}

.input {
  outline: none;
  width: 100%;
  padding: 15px 60px 15px 7.5em;
  height: 3.4em;
  border-radius: 2em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  border: 0 none transparent;
  font-size: 18px;
  font-family: var(--fontCommon);
}

.selectDefaultSearch {
  position: absolute;
  left: 20px;
  top: 30%;
  height: 3.5em;
  width: 100px;
}

.selectDefaultSearch * {
  background: white;
}

.button {
  position: absolute;
  right: 35px;
  bottom: 27%;
  border: 0;
  margin-bottom: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: transparent;
}

.searchIcon {
  width: inherit;
  height: inherit;
}

.autosuggestResults {
  position: absolute;
  width: calc(100% - 5%);
  z-index: var(--zindex100);
  background-color: #fff;
  list-style-type: none;
  margin-top: -1px;
  left: 22px;
  border-left: 1px solid var(--lighterGrey);
  border-right: 1px solid var(--lighterGrey);
  border-bottom: 1px solid var(--lighterGrey);
  border-radius: 0 0 24px 24px;
}

.autosuggestWord {
  padding: 7px 15px;
  color: var(--textColor);
  font-size: 14px;
  cursor: pointer;
}

.autosuggestWord:hover {
  background: var(--lighterGrey);
}

.highlight {
  background: var(--lighterGrey);
}

.autosuggestItemIcon {
  padding-right: 10px;
}
