.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 30px;
}

.headerRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
}

.headerRightLink {
  margin-left: 0.5em;
  color: #428bca;
  text-decoration: none;
}

.rightSide {
  display: flex;
  justify-content: flex-end;
}

.counterContainer {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.counterText {
  color: white;
  font-size: 16px;
  margin-left: 8px;
}

.dropletContainer {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.dropletImg {
  margin-top: -5px;
  width: 35px;
  height: 35px;
}

.dropletCount {
  margin-top: -3px;
  padding-right: 6px;
  font-size: 1.6em;
  color: white;
}

.menu {
  margin-left: 1.2em;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 0;
  }

  .counterText {
    font-size: 20px;
  }
}
