:root {
  --elliotPrimary: #72afd4;
  --elliotSecondary: #577399;
  --elliotTealBlue: #287896;
  --elliotCta: #ffa62b;
  --elliotVisited: #7e359e;
  --elliotLinkSearch: #1a0dab;
  --dimGrey: #999;
  --lighterGrey: #f0f0f0;
  --lightGreyBackground: #f7f7f7;
  --lightAzureBackground: #f7f7ff;
  --lightGrey: #e8e8e8;
  --textColor: #333;
  --textLighterColor: #666;
  --error: #ad081b;
  --fontCommon: 'open_sansregular', sans-serif;
  --fontBlack: 'open_sansbold', sans-serif;
  --zindex0: 0;
  --zindex10: 10;
  --zindex50: 50;
  --zindex100: 100;
  --zindex200: 200;
  --zindex300: 300;
}

/* FONTS */
@font-face {
  font-family: 'open_sansbold';
  src: url('./fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('./fonts/open-sans/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('./fonts/open-sans/opensans-extrabold-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('./fonts/open-sans/opensans-italic-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('./fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight_italic';
  src: url('./fonts/open-sans/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('./fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('./fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('./fonts/open-sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('./fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('./fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
    url('./fonts/open-sans/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* FONTS */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  background: 'white';
  color: var(--textColor);
  font-weight: 400;
  min-height: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-family: var(--fontCommon);
}

::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontCommon);
  font-weight: 700;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  font-size: 1.8em;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--elliotPrimary);
}

a:hover {
  color: var(--elliotSecondary);
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

input,
button,
select,
textarea {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  font-family: var(--fontBlack);
}

textarea {
  overflow: auto;
  vertical-align: top;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input::placeholder {
  /* Chrome, FF, Opera, Safari 10.1+ */
  color: #b3b3b3;
  opacity: 1; /* FF */
  font-family: var(--fontBlack);
}

input::-ms-input-placeholder {
  /* Edge */
  color: #b3b3b3;
  font-family: var(--fontBlack);
}

input:-ms-input-placeholder {
  /* IE 10-11 */
  color: #b3b3b3;
  font-family: var(--fontBlack);
}

/* COMMON STYLE
=========================
*/

.hidden-element {
  height: 0;
  width: 0;
  display: none;
}

/* odometer custom style */
.odometer {
  color: white;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-family: var(--fontBlack);
}

@media (min-width: 768px) {
  .odometer {
    font-size: 26px;
  }
}
